<div>
  <ion-footer>
    <div class="container">
      <h1>GARAGE VINCENT PAROT</h1>
      <ion-row>
        <ion-text>Adresse : 555 Avenue de la resistance</ion-text>
        <ion-text>numéro : 06 58 10 96 00</ion-text>
      </ion-row>
      <div>
        <p>Actuellement<a class="a-open" *ngIf="openedService.mechanicIsOpened">Ouvert</a><a class="a-close"
                                                                                             *ngIf="!openedService.mechanicIsOpened">Fermer</a>
        </p>
      </div>
    </div>

    <div class="div-img">
        <ion-img src="assets/map-with-marker.png" alt="" width="100%"></ion-img>
    </div>

    <div class="container" id="container-center">
      <ion-text>
        <h3>Horaires</h3>
      </ion-text>
      <ion-text>
        <p>Lundi : 8h00 / 18h00</p>
        <p>Mardi : 8h00 / 18h00</p>
        <p>Mercredi : 8h00 / 18h00</p>
        <p>Jeudi : 8h00 / 20h00</p>
        <p>Vendredi : 8h00 / 20h00</p>
        <p>Samedi : 8h00 / 13h00</p>
        <p>Dimanche : 8h00 / 12h00</p>
      </ion-text>
    </div>
  </ion-footer>
</div>
