<div>
  <ion-img src="assets/vehicule3.png" alt="img-accueil"></ion-img>
</div>
<div>
  <ion-list class="ion-text-center">
    <ion-title>
      <ion-title>Notre expertise a votre service</ion-title>
    </ion-title>
    <ion-row>
      <ion-button>
        <ion-icon name="pulse-outline" size="large"></ion-icon>
      </ion-button>
      <ion-text>
        <ion-title>Suivie</ion-title>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-button>
        <ion-icon name="newspaper-outline" size="large"></ion-icon>
      </ion-button>
      <ion-text>
        <ion-title>Historique</ion-title>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-button>
        <ion-icon name="construct-outline" size="large"></ion-icon>
      </ion-button>
      <ion-text>
        <ion-title>Professionalisme</ion-title>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-button>
        <ion-icon name="stats-chart-outline" size="large"></ion-icon>
      </ion-button>
      <ion-text>
        <ion-title>Prix</ion-title>
      </ion-text>
    </ion-row>
  </ion-list>
</div>
