<section>
  <ion-list class="ion-text-center">
    <div>
      <ion-title>Notre expertise a votre service</ion-title>
    </div>
    <ion-row>
      <ion-button color="warning">
        <ion-icon name="pulse-outline" size="large" color="light"></ion-icon>
      </ion-button>
      <ion-text>
        <ion-title>Suivi</ion-title>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-button color="warning">
        <ion-icon name="newspaper-outline" size="large" color="light"></ion-icon>
      </ion-button>
      <ion-text>
        <ion-title>Historique</ion-title>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-button color="warning">
        <ion-icon name="construct-outline" size="large" color="light"></ion-icon>
      </ion-button>
      <ion-text>
        <ion-title>Professionalisme</ion-title>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-button color="warning">
        <ion-icon name="stats-chart-outline" size="large" color="light"></ion-icon>
      </ion-button>
      <ion-text>
        <ion-title>Prix</ion-title>
      </ion-text>
    </ion-row>
  </ion-list>

  <div class="div-flex">
    <ion-img src="assets/vehicule3.png" alt="img-accueil"></ion-img>
  </div>
</section>
