<section>
  <div class="box">
    <div>
      <h1>Vente de Vehicules</h1>
    </div>
    <div class="sells-content">

      <div class="sells-filter">
        <div>
          <div class="div-input">
            <div>
              <h3>Filtrer vos Vehicules</h3>
              <ion-input type="text" placeholder="nom"></ion-input>
            </div>
            <h4>Prix</h4>
            <div>
              <ion-input type="number" placeholder="min"></ion-input>
              <ion-input type="number" placeholder="max"></ion-input>
            </div>
          </div>
          <div class="div-input">
            <h4>année</h4>
            <div>
              <ion-input type="number" placeholder="min"></ion-input>
              <ion-input type="number" placeholder="max"></ion-input>
            </div>
          </div>
          <div class="div-input">
            <h4>Kilométrages</h4>
            <div>
              <ion-input type="number" placeholder="min"></ion-input>
              <ion-input type="number" placeholder="max"></ion-input>
            </div>
          </div>
        </div>
      </div>

      <div class="sells-box">

        <div class="card-cars">
          <div>
            <ion-img src="" alt=""></ion-img>
          </div>
          <div class="card-contents">
            <div class="card-obj">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim! </p>
            </div>
            <div class="card-obj">
              <div>
                <p>2555</p>
              </div>
              <div>
                <p>198 555 KM</p>
              </div>
            </div>
            <div class="card-obj" id="card-border-none">
              <div>
                <p>58 145 euros</p>
              </div>
              <div class="voir-plus">
                <a href="#">Voir plus</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-cars">
          <div>
            <ion-img src="" alt=""></ion-img>
          </div>
          <div class="card-contents">
            <div class="card-obj">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim! </p>
            </div>
            <div class="card-obj">
              <div>
                <p>2555</p>
              </div>
              <div>
                <p>198 555 KM</p>
              </div>
            </div>
            <div class="card-obj" id="card-border-none">
              <div>
                <p>58 145 euros</p>
              </div>
              <div class="voir-plus">
                <a href="#">Voir plus</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-cars">
          <div>
            <ion-img src="" alt=""></ion-img>
          </div>
          <div class="card-contents">
            <div class="card-obj">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim! </p>
            </div>
            <div class="card-obj">
              <div>
                <p>2555</p>
              </div>
              <div>
                <p>198 555 KM</p>
              </div>
            </div>
            <div class="card-obj" id="card-border-none">
              <div>
                <p>58 145 euros</p>
              </div>
              <div class="voir-plus">
                <a href="#">Voir plus</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-cars">
          <div>
            <ion-img src="" alt=""></ion-img>
          </div>
          <div class="card-contents">
            <div class="card-obj">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim! </p>
            </div>
            <div class="card-obj">
              <div>
                <p>2555</p>
              </div>
              <div>
                <p>198 555 KM</p>
              </div>
            </div>
            <div class="card-obj" id="card-border-none">
              <div>
                <p>58 145 euros</p>
              </div>
              <div class="voir-plus">
                <a href="#">Voir plus</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-cars">
          <div>
            <ion-img src="" alt=""></ion-img>
          </div>
          <div class="card-contents">
            <div class="card-obj">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim! </p>
            </div>
            <div class="card-obj">
              <div>
                <p>2555</p>
              </div>
              <div>
                <p>198 555 KM</p>
              </div>
            </div>
            <div class="card-obj" id="card-border-none">
              <div>
                <p>58 145 euros</p>
              </div>
              <div class="voir-plus">
                <a href="#">Voir plus</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-cars">
          <div>
            <ion-img src="" alt=""></ion-img>
          </div>
          <div class="card-contents">
            <div class="card-obj">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim! </p>
            </div>
            <div class="card-obj">
              <div>
                <p>2555</p>
              </div>
              <div>
                <p>198 555 KM</p>
              </div>
            </div>
            <div class="card-obj" id="card-border-none">
              <div>
                <p>58 145 euros</p>
              </div>
              <div class="voir-plus">
                <a href="#">Voir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
