ion-list {
  width: calc(50vw + 15vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: calc(1vw + 0.5vh);
  background: transparent;
  padding: 2.5%;
  margin: auto;
}

.who-are-us {
  padding-block: calc(3vw + 2vh);
}

ion-title {
  font-size: calc(3vw + 1.5vh);
  line-height: calc(2vw + 1.5vh);
  text-align: center;
  margin-block: calc(1vw + 1vh);
}

ion-text {
  font-size: calc(1.75vw + 1.5vh);
  text-align: center;
}

@media screen and (width > 680px) {
  section {
    display: grid;
    grid-template: auto / 1fr 1fr;
    background: rgba(100, 100, 100, 0.5);
  }
  .who-are-us {
    grid-area: 1 / 1;
    padding: 3%;
  }
  ion-list {
    width: calc(20vw + 20vh);
  }
  ion-title {
    font-size: calc(2vw + 1.5vh);
  }
  ion-text {
    font-size: calc(.75vw + 1vh);
    text-align: start;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
