<section>
  <div>
    <ion-img src="assets/claims_landing_search_desktop.a7bae0d0.png" alt=""></ion-img>
  </div>

  <div class="who-are-us">
    <ion-list>
      <ion-row>
        <ion-title>Qui Somment nous ?</ion-title>
      </ion-row>
      <ion-row>
        <ion-text>
          Notre garage est aujourd'hui une marque mul-média : 1er site de
          véhicules d'occasion créé en 1922, journal hebdomadaire naonal de
          1909 à 2009, connu historiquement depuis les débuts de l'automobile.
          nous apparons à la société Groupe Vincent Parot. Leader francais des contenus auto et moto dans le
          domaine de la pete annonce et de l'éditorial avec nos sites...
        </ion-text>
      </ion-row>
    </ion-list>
  </div>
</section>
