<section>
  <div class="title">
    <div>
      <h1 class="ion-text-center ion-padding-horizontal">Nous séleconnons les meilleurs véhicules.
        À vous de choisir.
      </h1>
    </div>
    <ion-img src="assets/claims_landing_search_desktop.a7bae0d0.png" alt="img-accueil"></ion-img>
  </div>
  <div class="form-box">
    <ion-list>
      <ion-buttons class="ion-justify-content-center">
        <ion-button fill="solid" size="medium" color="light">Acheter</ion-button>
      </ion-buttons>
      <ion-row class="ion-justify-content-center">
        <ion-input type="text" placeholder="Kilométrage"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-input placeholder="Année"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-input placeholder="Prix"></ion-input>
      </ion-row>
      <ion-buttons class="ion-justify-content-center" slot="end">
        <ion-button href="/sells" size="medium" color="light">Rechercher</ion-button>
      </ion-buttons>
    </ion-list>
  </div>
</section>



