<section>
  <ion-list>
    <div>
      <ion-title>Laissez un commentaire</ion-title>
    </div>
    <ion-row class="ion-justify-content-center">
      <ion-input placeholder="nom"></ion-input>
    </ion-row>
    <ion-row id="row-large" class="ion-justify-content-center">
      <ion-input id="input-large" placeholder="commentaire"></ion-input>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-input placeholder="objet/note"></ion-input>
    </ion-row>
    <ion-buttons class="ion-justify-content-center" slot="end">
      <ion-button size="medium" color="light">envoyer</ion-button>
    </ion-buttons>
  </ion-list>

  <div class="container">
    <ion-text>Appelez-nous au 01 79 75 77 70</ion-text>
    <p class="ion-text-center">En semaine, de 09h a 12h et de 14h a 18h . Appel gratuit</p>
  </div>
</section>
