<div>
  <ion-title>Laissez un commentaire</ion-title>
</div>

<ion-list class="ion-text-center">
  <ion-row class="ion-justify-content-center">
    <ion-input placeholder="nom"></ion-input>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-input placeholder="commentaire"></ion-input>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-input placeholder="objet/note"></ion-input>
  </ion-row>
  <ion-buttons class="ion-justify-content-center" slot="end">
    <ion-button size="medium">envoyer</ion-button>
  </ion-buttons>
</ion-list>
