* {
  color: white;
}

h4, h3 {
  text-align: center;
  margin: 0;
  padding-block: calc(.5vw + .5vh);
  color: var(--ion-color-light);
}

h1 {
  text-align: center;
  margin: 0;
  padding-block: calc(.5vw + .5vh);

  background: var(--ion-color-success);
  border-bottom: var(--ion-color-dark) solid 2px;
}

a {
  color: var(--ion-color-secondary);
}

section {
  width: auto;
  height: fit-content;
  padding: calc(3vw + 5vh);
  background: var(--ion-color-primary);
}

.box {
  border: var(--ion-color-dark) solid 2px;
  border-radius: 15px;
  overflow: hidden;
}

.sells-filter {
  display: flex;
  flex-direction: column;
  row-gap: calc(1vw + .5vh);
  width: calc(15vw + 20vh);
  height: auto;
  padding: calc(1vw + .5vh);
  background: var(--ion-color-dark);
}

ion-input {
  height: auto;
  align-self: center;
  border-radius: 10px;
  border: 1px solid var(--ion-color-success);
  background: var(--ion-color-success);
  color: var(--ion-color-primary);
  padding: 0;
  margin: 0 auto;
}

ion-input:hover {
  border: 3px solid var(--ion-color-warning);
}

.div-input div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: calc(1vw + .5vh);
  padding: 3.5%;
}

.sells-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: calc(.8vw + .8vh);
  column-gap: calc(.8vw + .8vh);
  width: 100%;
  padding: calc(.8vw + .8vh);
  height: calc(100% - calc(.8vw + .8vh));
  border: none;
  background: var(--ion-color-tertiary);
}

.sells-cars {
  width: calc(15vw + 10vh);
  height: fit-content;
}

.sells-content {
  display: flex;
  background: var(--ion-color-success)
}

@media screen and (width < 1200px) {
  .box {
    max-width: calc(55vw + 35vh);
    margin: 0 auto;
  }
  .sells-box {
    justify-content: space-around;
    align-content: space-around;
    row-gap: calc(1.8vw + 1.8vh);
    padding: calc(1.8vw + 1.8vh);
  }
}
@media screen and (width < 840px) {
  section {
    padding: calc(1.5vw + 2vh);
  }
  .sells-box {
    padding: calc(.8vw + .8vh);
  }
}
@media screen and (width < 630px) {
  .sells-content {
    display: block;
    justify-content: center;
  }
  .sells-filter {
    display: block;
    padding: 0;
    width: 100%;
    border: none;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .filter-scroll {
    display: inline-flex;
    width: calc(100vw + 150vh);
    height: 15vh;
  }
  .div-input {
    display: flex;
    width: calc(40vw + 25vh);
    align-items: center;
  }
  .div-input div {
    width: calc(36vw + 22vh);
    flex-direction: row;
    justify-content: space-between;
    column-gap: calc(3vw + 2vh);
  }
  .card-cars {
    width: calc(25vw + 7vh);
    height: auto;
  }
}
