<div class="repair-vehicle" >
  <ion-card>
    <div class="container">
      <div>
        <ion-icon name="hammer-outline" size="large"></ion-icon>
      </div>
      <div>
        <ion-text>Maintenance</ion-text>
      </div>
    </div>
    <ion-card-content class="ion-no-padding">
      <p>Service entretiens, Réparations...</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <div class="container">
      <div>
        <ion-icon name="car-outline" size="large"></ion-icon>
      </div>
      <div>
        <ion-text>Rachat de pièces</ion-text>
      </div>
    </div>
    <ion-card-content class="ion-no-padding">
      <p>Piece en tout genre, Vehicules...</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <div class="container">
      <div>
        <ion-icon name="hand-right-outline" size="large"></ion-icon>
      </div>
      <div>
        <ion-text>Service aprés vente</ion-text>
      </div>
    </div>
    <ion-card-content class="ion-no-padding">
      <p>Revue des besoins, Fidélisation...</p>
    </ion-card-content>
  </ion-card>
</div>
